<div class="page-header">
  <h1>Candidates <small>{{model.subject.name}} · {{model.campus.name}} · {{model.starting_date}}</small></h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover table-strip">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Telephone</th>
            <th>Observations</th>
            <th>Current Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.records as |record|}}
            <tr>
              <td>{{ record.id }}</td>
              <td>{{ link-to record.candidate.name 'candidates' }}</td>
              <td>{{ record.candidate.telephone }}</td>
              <td>{{ record.observations }}</td>
              <td>{{ record.record_status.length }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      {{outlet}}
    </div>
  </div>
</div>
