<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1> Event list </h1>
      <table class="table table-hover table-strip">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Starting Date</th>
            <th>Campus</th>
            <th>Quorum</th>
            <th>Price</th>
            <th>Candidates</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |event|}}
            <tr>
              <td>{{#link-to 'event' event}} {{ event.id }} {{/link-to}}</td>
              <td>{{ event.type.name }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.starting_date }}</td>
              <td>{{ event.campus.name }}</td>
              <td>{{ event.quorum }}</td>
              <td>{{ event.price }}</td>
              <td class="text-center"><span class="badge">{{ event.candidates.length }}</span></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#link-to 'events.new' class="btn btn-primary"}} Create {{/link-to}}
    </div>
    <div class="col-md-4">
      {{outlet}}
    </div>
  </div>
</div>
