<h1> Add to event </h1>

{{#if error}}
  <div id="danger" class="alert alert-danger" role="alert">
    <strong>{{error.code}}</strong> {{ error.message }}
  </div>
{{/if}}

{{#if success}}
  <div id="success" class="alert alert-success" role="alert">
    <strong>Well done!</strong> {{ success.message }}
  </div>
{{/if}}

<div class="form-horizontal">
  <div class="form-group">
    <label for="events" class="col-sm-3 control-label">Events</label>
    <div class="col-sm-9">
      {{#x-select action="selectEvent" as |xs|}}
        {{#each events as |event|}}
          {{#xs.option value=event.id}} {{event.subject.name}} - {{event.starting_date}} {{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="form-group">
    <label for="events" class="col-sm-3 control-label">Status</label>
    <div class="col-sm-9">
      {{#x-select action="selectStatus" as |xs|}}
        {{#each statuses as |status|}}
          {{#xs.option value=status.id}} {{status.name}} {{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="form-group">
    <label for="observations" class="col-sm-3 control-label">Observations</label>
    <div class="col-sm-9">
      {{ textarea value=observations class="form-control" id="observations" placeholder="Observations" }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button {{action 'add'}} class="btn btn-primary"> Add to </button>
      <button {{action 'cancel'}} class="btn btn-default"> Cancel </button>
    </div>
  </div>
</div>
