<!-- CREATE -->
{{#if error}}
  <div id="danger" class="alert alert-danger" role="alert">
    <strong>{{error.code}}</strong> {{ error.message }}
  </div>
{{/if}}

{{#if success}}
  <div id="success" class="alert alert-success" role="alert">
    <strong>Well done!</strong> {{ success.message }}
  </div>
{{/if}}

<div class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-9 col-md-offset-1">
      {{ input value=name class="form-control" id="name" placeholder="Name" }}
    </div>
  </div>

  <div class="form-group">
    <label for="degree" class="col-sm-2 control-label">Degree</label>
    <div class="col-sm-9 col-md-offset-1">
      {{ input value=degree class="form-control" id="degree" placeholder="Degree" }}
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-9 col-md-offset-1">
      {{ input value=email type="email" class="form-control" id="email" placeholder="email" }}
    </div>
  </div>

  <div class="form-group">
    <label for="telephone" class="col-sm-2 control-label">Telephone</label>
    <div class="col-sm-9 col-md-offset-1">
      {{ input value=telephone type="tel" class="form-control" id="telephone" placeholder="telephone" }}
    </div>
  </div>

  <div class="form-group">
    <label for="observations" class="col-sm-2 control-label">Observations</label>
    <div class="col-sm-9 col-md-offset-1">
      {{ textarea value=observations rows="5" class="form-control" id="observations" placeholder="observations" }}
    </div>
  </div>

  <div class="form-group">
    <label for="status" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-9 col-md-offset-1">
      {{#x-select value=status_id action="selectStatus" as |xs|}}
        {{#each statuses as |status|}}
          {{#xs.option value=status.id}} {{status.name}} {{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button {{action 'save'}} class="btn btn-primary"> Save </button>
      <button {{action 'cancel'}} class="btn btn-default"> Cancel </button>
    </div>
  </div>

</div>
