<div class="page-header">
  <h1> Add candidate </h1>
</div>

{{#if error}}
  <div id="danger" class="alert alert-danger" role="alert">
    <strong>{{error.code}}</strong> {{ error.message }}
  </div>
{{/if}}

{{#if success}}
  <div id="success" class="alert alert-success" role="alert">
    <strong>Well done!</strong> {{ success.message }}
  </div>
{{/if}}

<div class="container-fluid">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="candidate" class="col-sm-3 control-label">Candidate</label>
        <div class="col-sm-9">
          {{#power-select
            placeholder="Select status"
            class="form-control"
            search=(perform search)
            selected=selected
            onchange=(action (mut selected))
            as |candidate|}}
            {{ candidate.name }}
          {{/power-select}}
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-3 control-label">Status</label>
        <div class="col-sm-9">
          <!-- extern to a view or a service -->
          {{#power-select
            placeholder="Select status..."
            searchEnabled=false
            options=statuses
            selected=status
            onchange=(action (mut status)) as |status|}}
            {{ status.name }}
          {{/power-select}}
        </div>
      </div>
      <div class="form-group">
        <label for="observations" class="col-sm-3 control-label">Observations</label>
        <div class="col-sm-9">
          {{ textarea value=observations class="form-control" id="observations" placeholder="Observations" }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button {{action 'add'}} class="btn btn-primary"> Add </button>
          <button {{action 'cancel'}} class="btn btn-default"> Cancel </button>
        </div>
      </div>
    </div>
  </div>
</div>
