
<div class="container-fluid">
  <div class="row">
    <h1> {{ model.name }} </h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Degree</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Observations</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.candidates as |candidate|}}
          <tr class="{{ candidate.status.name }}">
            <td>{{ candidate.id }}</td>
            <td>{{link-to candidate.name 'candidates.show' candidate}}</td>
            <td>{{ candidate.degree }}</td>
            <td>{{ candidate.email }}</td>
            <td>{{ candidate.telephone }}</td>
            <td>{{ candidate.observations }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
