
<div class="container-fluid">
  <div class="row">
    <h1> {{ model.name }} </h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Degree</th>
          <th>Email</th>
          <th>Event</th>
          <th>Telephone</th>
          <th>Status</th>
          <th>Observations</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.candidates as |candidate|}}
          <tr class="{{ candidate.status.name }}">
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.degree }}</td>
            <td>{{ candidate.email }}</td>
            <td>
              {{#link-to 'event' candidate.event}} {{ candidate.event.subject.name }} {{/link-to}}
            </td>
            <td>{{ candidate.telephone }}</td>
            <td>{{ candidate.status.name }}</td>
            <td>{{ candidate.observations }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
